<h1>Sign up as a new user below: </h1>
<form action='/signup' method='POST'>
    <label>Username: </label><input type='text' name='username' id='username'>
    <label>Password: </label><input type='text' name='password' id='password'>
    <input type='submit' id='submit' value='Submit'>
</form><br>
<a href='/login'> Already have an account? Sign in! </a>