<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="./theme.css">
  </head>

  <body style="background-image: linear-gradient(to right, white, #46e2b3);">
    <h1 style="text-align: center;"> comparatively. </h1>
    <%= yield %>
  </body>
</html>